# macOS
.DS_Store

# Xcode build output
build/
DerivedData/

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods / Carthage (in case added later)
Pods/
Carthage/Build/
